.filters__header-container{
    position: relative;
}

.filters__sidebar-container{
    position: relative;

    right: 1.5rem;
    top: 0;
    max-height: 95vh;

    max-width: max-content;
    background: transparent;

}

.filters{
    height: 100%;
    max-width: 300px;
    background: transparent;
}


.results {

    padding: 1rem 2rem 1rem 1rem;
    width: inherit;

    @media screen and (max-width: 970px) {
        grid-template-columns: 1fr;

    }

    display: grid;
    grid-template-columns:  minmax(480px, 1fr) repeat(auto-fill, minmax(300px, 1fr));

    gap: 1rem;

    align-items: flex-start;
    align-content: flex-start;
    grid-auto-flow: dense;
    
}

.pro-account-cta {
    grid-row: 1/1;
    align-self: stretch;
}

.in-depth-reviews {
    grid-row: 2/3;

}

.score__card {
    align-self: flex-start;
    flex: 1 1 100px;
}

