@import '../variables';
.nav {
    z-index: 10;

    display: grid;
    position: sticky;

    min-width: 6.5rem;
    min-height: 7rem;

    &.icon-only {
        >.navbar {

            >ul {
                align-items: flex-end;

                @media screen and (max-height: 666px) {
                    background: linear-gradient(90deg , #4a85971f 70%, transparent 30%);
                }
            }
        }
    }

    &:not(.icon-only) {
        min-width: 13rem;
        justify-items: stretch;
        >.navbar {
            >ul {
                
                @media screen and (max-width: 508px) {
                    background: linear-gradient(0deg , #4a85971f 66%, transparent 34%);
                }
                @media screen and (min-width: 810px) {
                    align-items: stretch;
                }
            }
        }
    }



    
    .logo-link{
        display: inline-flex;
        width: max-content;
        color: white;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }

    .logo {
        margin: 1rem;
        display: inline-block;
    }

    img.logo{
        transition: all .2s fade-in-out;

        border-radius: $border-radius-md;
        outline: 4px solid $bg-blue-dark;

        &:hover {
            outline: 6px solid $bg-blue-dark;
        }
    }
    
    @media screen and (min-width: 810px) {
        grid-template-rows: auto 1fr auto auto auto;
        top: 0;
        height: 100vh;
        justify-items: flex-end;

        overflow: scroll;
        direction:rtl; 

        background: linear-gradient(90deg , $bg-blue-light 66%, transparent 34%);
    }    

    @media screen and (max-width: 810px) {
        grid-template-columns: auto 1fr auto auto;
        bottom: 0;
        width: 100vw;
        
        align-items: flex-end;

        overflow: scroll;

        background: linear-gradient(0deg , $bg-blue-light 63%, transparent 37%);
    }


}

.dashboard-dropdown {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}